.flex-row-force {
    flex-direction: row !important;
}

.rubik-scribble-regular {
    font-family: "Rubik Scribble", system-ui;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.html-icon {
    color: #E34F26;
}

.css-icon {
    color: #2965f1;
}

.js-icon {
    color: #F7DF1E;
}

.bootstrap-icon {
    color: #563d7c;
}

.python-icon {
    color: #306998;
}

.portfolio-container {
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid rgba(var(--bs-tertiary-bg-rgb));
}

.text-box {
    background-color: rgba(var(--bs-tertiary-bg-rgb), 0.9) !important;
    padding: 20px;
    border-radius: 10px;
}